body{
    font-family: Arial;
}

.genreLabels{
    color: white;
}

.labelNames{
    font-family: Arial;
    font-size: 10px;
}

#settingsSubmit{
    background-color: #7009e5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Arial';
}

#settingsSubmit:hover {
    background-color: #3d057e;
}