body {
    font-family: Arial;
    color: white;
}

.genreLabels {
    font-size: 20px;
}

#settingsSubmit {
    background-color: #7009e5;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Arial";
}

#settingsSubmit:hover {
    background-color: #3d057e;
}